/Calculadora/src/Calculadora/bin/Debug/
/Calculadora/src/Calculadora/obj/Debug/
/Calculadora/src/Library/bin/Debug/
/Factorial/src/Factorial/bin/Debug/
/Factorial/src/Library/bin/Debug/
/LeapYear/src/LeapYear/bin/Debug/
/LeapYear/src/Library/bin/Debug/
/Persona/src/Library/bin/Debug/
/**/src/**/**/Debug/
